* {
  font-family: "Poppins", sans-serif;
}

/******** NAVBAR ********/
.custom-navbar {
  background-color: white;
  color: black;
}
.custom-logo {
  font-weight: 700;
}
.cv {
  background-color: #0062c9;
  color: white;
  border-radius: 8px;
}

/******** HOME ********/
.text {
  text-align: start;
  margin: auto;
}
.text h4 {
  font-weight: 500;
  font-size: 1rem;
}
.text h3 {
  color: #0062c9;
  font-weight: 600;
  font-size: 1.5rem;
}
.text h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
.img-profile {
  margin: auto;
  width: 250px;
}
.img-profile img {
  width: 100%;
}
.sosmed a {
  text-decoration: none;
  color: white;
}
.sm-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0062c9;
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
}

/******** PROJECT ********/
.card {
  position: relative;
  overflow: hidden;
  border: 0;
  cursor: pointer;
}
.custom-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 98, 201, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.card:hover .card-img-overlay {
  opacity: 1;
  visibility: visible;
}

/******** FOOTER ********/
footer {
  background-color: #f8f8f8;
}
.contact-email a {
  text-decoration: none;
  color: #0062c9;
  font-weight: 500;
}
.contact-sosmed {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.contact-sosmed a {
  text-decoration: none;
  color: #0062c9;
}
.contact-sosial-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;
}
.copyright {
  background-color: #545454;
  color: white;
}
.copyright span {
  color: #e86c0a;
  font-weight: 500;
}
